*{
    padding:0;
    margin:0;
    /* box-sizing:border-box; */
}
:root{
    --bcol: whitesmoke;
    --checkboxcol1:#d8d8d8;
    --checkboxcol2:#cccccc;
}
.container{
    background-color: var(--bcol);
    min-height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
#checkbox{
    border:1.95rem solid #dadada;
    background-color: #9a9a9a;
    border-radius: 6rem;
    width:16.5rem;
    height:6rem;
}
#circle{
    content:'';
    /* position: absolute; */
    position: relative;
    top:50%;
    left:0.5rem;
    transform:translateY(-50%);
    width:5.5rem;
    background-color: whitesmoke;
    /* border:1rem solid white; */
    box-shadow: 0 0 0 1rem #e6e6e6;
    border-radius: 50%;
    height:5.5rem;
    display: flex;
    justify-content: center;
    align-items:center;
    /* animation: slide 3s linear 0; */
    animation-name: slide;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: 0;
    animation-delay:0ms;
    animation-fill-mode: forwards;
    animation-direction:alternate;
    border-top:2px solid white;
    border-bottom:2px solid white;
}
#text{
    font-size: 1.5rem;
    font-weight: 520;
    color:#9a9a9a;
}
@keyframes slide {
    0%{
        transform: translate(0, -50%);
    }
    50%{
        transform: translate(5.05rem, -50%);
    }
    100%{
        transform: translate(10.1rem, -50%);
    }
}

#changer{
    position: absolute;
    top:50%;
    right:15%;
    height:9rem;
    width:3rem;
    /* background-color: black; */
    transform:translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.small{
    height:1.4rem;
    width:1.4rem;
    border-radius: 50%;
    /* background-color: #a5a5a5; */
    background-color: #a5a5a5;
    margin:0.8rem 0;
    box-shadow: inset 0 0px 8px #717171;
    border-top:1.45px solid white;
    border-bottom:1.4px solid white;
}
#one.active{
    background-color: #00d22d;
    box-shadow: inset 0 0px 8px green;
}
#two.active{
    background-color: #00d22d;
    box-shadow: inset 0 0px 8px green;
}
@media only screen and (max-width: 700px){
    #changer{
        flex-direction: row;
        top:40%;
        left:50%;
        transform: translate(-40%, -50%);
    }
    .small{
        margin:0 1rem;
    }
}